.banner-content {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary {
  color: red;
}

.banner-logo img {
  width: 250px;
  padding-bottom: 37px;
}

.banner-heading-top {
  position: relative;
  background: #6e6e6e26;
  border-radius: 50px;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 25px;
  width: 35%;
  text-align: center;
}

.banner-heading-top p {
  padding: 10px 10px;
  font-size: 18px;
  color: rgb(173, 173, 173);
  border-radius: 50px;
}

.banner-heading-top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(91.66deg, #00bdff -2.97%, #2a378f 103.23%);
  border-radius: 50px;
  padding: 1px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

.banner-second-heading h1 {
  color: white;
  font-weight: 500 !important;
  line-height: 100px !important;
  font-size: 96px !important;
  margin-bottom: 20px;
}

.banner-second-heading {
  width: 80%;
}

.banner-second-heading h1 span {
  color: transparent;
  /* Makes the text transparent */
  background: linear-gradient(258deg, #8800ff 27.99%, #00bdff 57.37%);
  background-clip: text;
}

.banner-second-heading p {
  font-size: 19px;
  line-height: 25px;
  margin-bottom: 50px !important;
}

.banner-second-heading .btn-2 {
  font-size: 24px !important;
  padding: 12px 50px !important;
}

.banner-second-heading h6 {
  font-size: 32px !important;
  margin-bottom: 50px;
}

/* YOutube Video */

.youtube-video-video {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px 0px;
}

.youtube-video img {
  border-radius: 12px;
}

.youtube-video iframe {
  border-radius: 12px;
}

.leads-upper-content {
  width: 85%;
  margin: 0 auto;
}

.leads-upper-content .banner-heading-top {
  margin: 0 auto;
}

.leads-upper-content h2 {
  line-height: 70px;
  padding-top: 30px;
}

.leads-lower-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}

.leads-lower-content .card {
  background: linear-gradient(178.34deg,
      rgba(102, 102, 102, 0.16) 1.76%,
      rgba(0, 0, 0, 0.16) 98.95%);
  width: 30%;
  border: 1px solid rgba(40, 40, 40, 1);
  border-radius: 18px;
  transition: 0.3s all ease;
}

.leads-lower-content h5 {
  font-size: 26px !important;
  font-weight: 500;
  line-height: 34px !important;
  text-align: left;
}

.leads-lower-content p {
  font-size: 20px !important;
  font-weight: 400;
  line-height: 28px !important;
  text-align: left;
}

.leads-lower-content img {
  width: 70%;
}

.img-card {
  text-align: center;
  display: inline-block;
  background: rgba(0, 189, 255, 1);
  border-radius: 50px;
  padding: 17px 8px;
  width: 25%;
  margin-bottom: 20px;
}

.strugling-lower-content .card4-body {
  width: 49%;
  padding: 30px 20px;
  min-height: 180px;
}

.strugling-lower-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 93%;
  margin: 0 auto;
}

.leads-lower-content .card-body {
  text-align: left;
}

.lower-content {
  padding-right: 10%;
}

.leads-lower-content .card:hover {
  border: 1px solid rgba(0, 189, 255, 1);
  transition: 0.3s all ease-in-out;
}

.section3-heading-top {
  position: relative;
  background: #6e6e6e26;
  border-radius: 50px;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 25px;
  width: 45%;
  text-align: center;
}

.strugling-content {
  margin-top: 80px;
}

.strugling-content h2 {
  margin: 20px 0px;
  font-size: 50px !important;
  font-weight: bold !important;
}

.strugling-para2 {
  padding: 0px 280px !important;
  line-height: 30px !important;
  margin-bottom: 50px !important;
}

.strugling-lower-content {
  margin-top: 80px;
}

.future-wrapper {
  margin: 100px 0px;
}

.aifuturecard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.aifuturecard .card3 {
  margin-top: 0px !important;
  min-height: 30vh;
  border-radius: 10px !important;
  padding: 20px !important;
  background: #00000021;

}

.aifuturecard .card3:hover {
  background: linear-gradient(180.11deg, #1B2C4A 0.09%, #0F64DF 210.44%);
  transition: all.5s !important;

}

.Salesaicards {
  width: 300px !important;
}

.aiPoweredIndustries-content h2 {
  width: 70%;
  line-height: 65px !important;
  margin-bottom: 30px;
}

.aiPoweredIndustries-content p {
  width: 50%;
  line-height: 30px !important;
  margin-bottom: 50px !important;
}

.aiPoweredIndustries-card {
  min-width: 350px;
  min-height: 250px;
  border-radius: 8px;
  ;
  background: #00000021 !important;
  border: 2px solid #222222;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.aiPoweredIndustries-card2 {
  min-width: 41.4%;
  min-height: 200px;
  border-radius: 8px;
  ;
  background: #00000021 !important;
  border: 2px solid #222222;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.aiPoweredIndustries-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.card-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.card-image {
  object-fit: cover;
  margin-bottom: 20px;
  transition: opacity 0.3s ease;
}

.card-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: opacity 0.3s ease;
}

.aiPoweredIndustries-card:hover .card-details {
  opacity: 1;
}

.card:hover .card-image {
  opacity: 0;
}

.card-details h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.card-details p {
  font-size: 1.2rem;
  margin: 0;
}

.testimonial-wrapper {
  margin: 100px 0px;
}

.testimonial-heading {
  padding: 0px 90px;

}

.question-heaing p {
  padding: 30px 30px;
}

.question-heaing button {
  margin: 20px 0px;
}

/* sidebar */
/* .classNamehead:active {
  border-color: var(--primary) !important;
} */
/* .swiper-slide-active .leadgensidebar h5 {
  font-size: 24px !important;
  font-weight: 500 !important;
  line-height: 20px !important;
}

.swiper-slide-active .testimonial-card h6 {
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 20px !important;
} */

.classNamehead:active .leadgensidebar p {
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 28px !important;
  padding-top: 20px;
}

/*  */

/* .aiPoweredIndustries-card {
  width: 300px;
  height: 400px;
  border: 1px solid red;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.aiPoweredIndustries-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.card-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.card-image {
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.card-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 20px;
  transition: opacity 0.3s ease;
}
.custom-overly{
  display: none;
}

.aiPoweredIndustries-card:hover .custom-overly {
  display: block;
  background-color: #77777721 !important;
  width: 100%;
}

.card-details h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.card-details p {
  font-size: 1.2rem;
  margin: 0;
} */

.leadSidebar {
  width: 73%;
  margin: 0 auto;
}

.leadSidebar .testimonial-card .testimonial-client {
  margin: 0px !important;
}

.leadSidebar .testimonial-card h5 {
  color: var(--primary) !important;
  line-height: 20px !important;
}

.leadSidebar .testimonial-card {
  padding: 40px 80px 40px 20px;
  background-color: var(--background) !important;
}
.leadSidebar .swiper-slide{
  
  border: 1px solid var(--border) !important;
  border-radius: 15px !important;
}

.leadSidebar .swiper-slide-active .testimonial-card h5 {
  line-height: 30px !important;
  font-weight: bold !important;
}

.leadSidebar .swiper-slide-active .testimonial-card {
  padding: 60px 80px 60px 20px;
}

.leadSidebar .swiper-slide-active {
  border-radius: 15px !important;
  box-shadow: 0px 4px 76.7px 0px #00BDFF40;
  height: unset;
  width: 343px !important;
  border: 1px solid var(--primary) !important;
}

@media screen and (min-width: 1400px) {
  .banner-content {
    min-height: 100vh !important;
  }

  .aifuturecard .card3 {
    min-height: 10vh;
  }

  .img-card {
    padding: 15px 8px !important;
    width: 19% !important;
  }

  .leads-upper-content {
    width: 70%;
  }

  .leadSidebar {
    width: 90%;
    margin: 0 auto;
  }

  .leadSidebar .testimonial-card h5 {
    line-height: 30px !important;
  }

  .leadSidebar .swiper-slide-active .testimonial-card h5 {
    line-height: 40px !important;

  }

  .leadSidebar .swiper-slide-active {
    height: unset;
    width: 343px !important;
    border: 1px solid var(--primary);
  }

}

@media screen and (max-width: 1399px) {
  .banner-second-heading h1 {
    font-size: calc(96px - 20px) !important;
    line-height: 80px !important;
  }

  .banner-heading-top1 .h2 {
    font-size: 40px !important;
    line-height: 60px !important;
  }

  .banner-second-heading h6 {
    font-size: 24px !important;
  }

  .img-card {
    padding: 14px 8px;
    width: 22%;
  }

  .banner-second-heading {
    width: 70%;
  }

  .banner-logo img {
    max-width: calc(100% - 25%);
  }

  .aiPoweredIndustries-card2 {
    min-width: 48%;
  }

  .aiPoweredIndustries-content h2 {
    font-size: 3.2rem !important;
  }

  .banner-logo {
    margin-top: 40px;
  }

  .strugling-para2 {
    padding: 0px 200px !important;
    line-height: 30px !important;
    margin-bottom: 50px !important;
  }

  .aifuturecard .Salesaicards {
    min-height: 12vh !important;
    width: 29vw !important;
  }

  .card3-body h5 {
    font-size: 29px !important;
    line-height: 35px !important;
    font-weight: 600 !important;
  }
}

@media screen and (max-width: 1200px) {
  .banner-second-heading h1 {
    font-size: 62px !important;
  }

  p {
    font-size: unset !important;
  }

  .banner-second-heading h6 {
    font-size: 18px !important;
    margin-bottom: 30px;
  }

  .strugling-lower-content .card4-body {
    width: 48% !important;
  }

  .card3-body h5 {
    font-size: 25px !important;
    line-height: 30px !important;
    font-weight: 600 !important;
  }

  .aiPoweredIndustries-content h2 {
    font-size: 2.8rem !important;
    line-height: 50px !important;
  }

  .youtube-video-video .youtube-video {
    width: 100% !important;
  }

  .leads-wrapper .leads-upper-content .banner-heading-top .h2 {
    font-size: 50px !important;
    line-height: 60px !important;
  }

  .leads-lower-content h5 {
    font-size: 20px !important;
    line-height: 26px !important;
  }

  .aiPoweredIndustries-card2 {
    min-width: 38%;
  }

  .leads-lower-content .card {
    width: 48%;
  }

  .strugling-content h2 {
    font-size: 40px !important;
  }

  .strugling-para2 {
    padding: 0px 180px !important;
  }

  .aifuturecard .card3 {
    min-height: 10vh !important;
    width: 30vw !important;
  }

  .leadSidebar {
    width: 90%;
    margin: 0 auto;
  }

  .leadSidebar .testimonial-card h5 {
    line-height: 20px !important;
  }

  .leadSidebar .swiper-slide-active .testimonial-card h5 {
    line-height: 30px !important;
  }

  .leadSidebar .testimonial-card {
    padding: 20px 40px 20px 20px;
  }

  .leadSidebar .swiper-slide-active .testimonial-card {
    padding: 40px 40px 40px 20px;
  }

  .leadSidebar .swiper-slide-active {
    height: unset;
    width: 313px !important;
    border: 1px solid var(--primary);
  }
}

@media screen and (max-width: 992px) {
  .strugling-content h2 {
    font-size: 30px !important;
  }

  .aiPoweredIndustries-card2 {
    min-width: 50%;
    min-height: 300px;
  }

  .strugling-para2 {
    padding: 0px 60px !important;
  }

  .aifuturecard .Salesaicards {
    width: 31vw !important;
    padding: 0px 0px 0px 0px !important;
  }

  .aifuturecard .card3 h5 {
    font-size: 20px !important;
    line-height: 30px !important;
  }

  .card4-body p {
    font-size: 17px !important;
  }

  .aiPoweredIndustries-content h2 {
    width: 100%;
    margin-bottom: 20px !important;
    font-size: 2rem !important;
    line-height: 45px !important;
  }

  .aiPoweredIndustries-content p {
    width: 100%;
    margin-bottom: 20px !important;
  }

  .leadSidebar {
    width: 100%;
    margin: 0 auto;
  }

  .leadSidebar .testimonial-card h5 {
    line-height: 20px !important;
  }

  .leadSidebar .swiper-slide-active .testimonial-card h5 {
    line-height: 30px !important;
  }

  .leadSidebar .testimonial-card {
    padding: 20px 40px 20px 20px;
  }

  .leadSidebar .swiper-slide-active .testimonial-card {
    padding: 40px 40px 52px 20px;
  }

  .swiper-slide {
    width: 190px !important;
  }

  .leadSidebar .swiper-slide-active {
    height: 240px !important;
    width: 280px !important;
  }
}

@media screen and (max-width: 767px) {
  .banner-heading-top {
    width: 70% !important;
  }

  .banner-logo img {
    max-width: 90% !important;
    padding-bottom: 10px;
  }

  .banner-second-heading {
    width: 100% !important;
  }

  .aiPoweredIndustries-card2 {
    min-width: 68%;
    min-height: 300px;
  }

  .aiPoweredIndustries-content h2 {
    width: 100%;
    font-size: 2.1rem !important;
    line-height: 40px !important;
  }

  .aiPoweredIndustries-content p {
    width: 100%;

  }

  h2 {
    font-size: 36px !important;
    line-height: 44px !important;
  }

  .img-card {
    padding: 15px 8px;
  }

  .strugling-content h2 {
    font-size: 25px !important;
  }

  .strugling-para2 {
    padding: 0px 0px !important;
  }

  .aifuturecard {
    flex-direction: column;
    gap: 10px;
  }

  .aifuturecard .card3 {
    width: 100% !important;
  }

  .card4-body>h6 {
    font-size: 20px !important
  }

  .strugling-lower-content .card4-body {
    width: 47% !important;
    height: 200px !important;
  }

  .card4-body h6 {
    font-size: 21px !important;
    line-height: 30px !important;
  }

  .card4-body p {
    font-size: 14px !important;
    line-height: 25px !important;
  }

  .img-card {
    padding: 14px 8px;
    width: 28% !important;
  }
  .leadSidebar {
    width: 100%;
    margin: 0 auto;
  }
  /* .leadSidebar .swiper-wrapper{
    transform: translate3d(-37px, 0px, 0px);
    
  } */
  
  .leadSidebar .testimonial-card h5 {
    line-height: 18px !important;
  }
  
  .leadSidebar .swiper-slide-active .testimonial-card h5 {
    line-height: 25px !important;
  }
  
  .leadSidebar .testimonial-card {
    padding: 20px 40px 20px 20px;
  }
  
  .leadSidebar .swiper-slide-active .testimonial-card {
    padding: 30px 40px 30px 15px !important;
  }
  
  .swiper-slide {
    width: 160px !important;
  }
  
  .leadSidebar .swiper-slide-active {
    height: 220px !important;
    width: 280px !important;
  }
}

@media screen and (max-width: 576px) {
  .banner-logo img {
    max-width: 80% !important;
  }

  .banner-second-heading h1 {
    font-size: 54px !important;
    line-height: 60px !important;
  }

  .aiPoweredIndustries-content h2 {
    width: 100%;
    font-size: 2.1rem !important;
    line-height: 40px !important;
    margin-bottom: 10px !important;
  }

  .aiPoweredIndustries-content p {
    margin-bottom: 10px !important;
  }

  p {
    line-height: 1.7rem !important;
  }

  .container {
    padding: 0px 30px !important;
  }

  .banner-second-heading .btn-2 {
    font-size: 17px !important;
  }

  .aiPoweredIndustries-card {
    min-width: 310px !important;

  }

  .aiPoweredIndustries-card2 {
    min-width: 310px !important;
    min-height: 300px;
  }

  .leads-lower-content .card {
    width: 70% !important;
  }

  .strugling-content h2 {
    font-size: 20px !important;
  }

  .img-card {
    padding: 14px 8px;
    width: 19% !important;
  }

  .youtube-video-video {
    margin: 10px 0px !important;
  }

  .banner-content {
    min-height: 70vh !important;
  }

  .banner-logo {
    margin: 0px !important;
  }

  .banner-second-heading p {
    margin-bottom: 30px !important;
  }

  .leads-wrapper {
    margin: 45px 0px !important;
  }

  .leads-upper-content h2 {
    padding: 20px 0px !important;
    font-size: 1.7rem !important;
    line-height: 35px !important;
  }

  .leads-lower-content {
    margin-top: 10px !important;
  }
}