.banner-content {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary {
  color: red;
}

.banner-logo img {
  width: 250px;
  padding-bottom: 37px;
}

.banner-heading-top {
  position: relative;
  background: #6e6e6e26;
  border-radius: 50px;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 25px;
  width: 35%;
  text-align: center;
}

.banner-heading-top p {
  padding: 10px 10px;
  font-size: 18px;
  color: rgb(173, 173, 173);
  border-radius: 50px;
}

.banner-heading-top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(91.66deg, #00bdff -2.97%, #2a378f 103.23%);
  border-radius: 50px;
  padding: 1px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

.banner-second-heading h1 {
  color: white;
  font-weight: 500 !important;
  line-height: 100px !important;
  font-size: 96px !important;
  margin-bottom: 20px;
}

.banner-second-heading {
  width: 80%;
}

.banner-second-heading h1 span {
  color: transparent;
  /* Makes the text transparent */
  background: linear-gradient(258deg, #8800ff 27.99%, #00bdff 57.37%);
  background-clip: text;
}

.banner-second-heading p {
  font-size: 19px;
  line-height: 25px;
  margin-bottom: 50px !important;
}

.banner-second-heading .btn-2 {
  font-size: 24px !important;
  padding: 12px 50px !important;
}

.banner-second-heading h6 {
  font-size: 32px !important;
  margin-bottom: 50px;
}

/* YOutube Video */

.youtube-video-video {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px 0px;
}

.youtube-video img {
  border-radius: 12px;
}

.youtube-video iframe {
  border-radius: 12px;
}

.leads-upper-content {
  width: 85%;
  margin: 0 auto;
}

.leads-upper-content .banner-heading-top {
  margin: 0 auto;
}

.leads-upper-content h2 {
  line-height: 70px;
  padding-top: 30px;
}

.leads-lower-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}

.leads-lower-content .card {
  background: linear-gradient(178.34deg,
      rgba(102, 102, 102, 0.16) 1.76%,
      rgba(0, 0, 0, 0.16) 98.95%);
  width: 30%;
  border: 1px solid rgba(40, 40, 40, 1);
  border-radius: 18px;
  transition: 0.3s all ease;
}

.leads-lower-content h5 {
  font-size: 26px !important;
  font-weight: 500;
  line-height: 34px !important;
  text-align: left;
}

.leads-lower-content p {
  font-size: 20px !important;
  font-weight: 400;
  line-height: 28px !important;
  text-align: left;
}

.leads-lower-content img {
  width: 70%;
}

.img-card {
  text-align: center;
  display: inline-block;
  background: rgba(0, 189, 255, 1);
  border-radius: 50px;
  padding: 17px 8px;
  width: 25%;
  margin-bottom: 20px;
}

.strugling-lower-content .card4-body {
  width: 49%;
  padding: 30px 20px;
  min-height: 180px;
}

.strugling-lower-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 93%;
  margin: 0 auto;
}

.leads-lower-content .card-body {
  text-align: left;
}

.lower-content {
  padding-right: 10%;
}

.leads-lower-content .card:hover {
  border: 1px solid rgba(0, 189, 255, 1);
  transition: 0.3s all ease-in-out;
}

.section3-heading-top {
  position: relative;
  background: #6e6e6e26;
  border-radius: 50px;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 25px;
  width: 45%;
  text-align: center;
}

.strugling-content {
  margin-top: 80px;
}

.strugling-content h2 {
  margin: 20px 0px;
  font-size: 50px !important;
  font-weight: bold !important;
}

.strugling-para2 {
  padding: 0px 280px !important;
  line-height: 30px !important;
  margin-bottom: 50px !important;
}

.strugling-lower-content {
  margin-top: 80px;
}

.future-wrapper {
  margin: 100px 0px;
}

.aifuturecard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.aifuturecard .card3 {
  margin-top: 0px !important;
  min-height: 30vh;
  border-radius: 10px !important;
  padding: 20px !important;
  background: #00000021;

}

.aifuturecard .card3:hover {
  background: linear-gradient(180.11deg, #1B2C4A 0.09%, #0F64DF 210.44%);
  transition: all.5s !important;

}

.Salesaicards {
  width: 300px !important;
}

.aiPoweredIndustries-content h2 {
  width: 70%;
  line-height: 65px !important;
  margin-bottom: 30px;
}

.aiPoweredIndustries-content p {
  width: 50%;
  line-height: 30px !important;
  margin-bottom: 50px !important;
}

.aiPoweredIndustries-card {
  min-width: 350px;
  min-height: 250px;
  border-radius: 8px;
  ;
  background: #00000021 !important;
  border: 2px solid #222222;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.aiPoweredIndustries-card2 {
  min-width: 41.4%;
  min-height: 200px;
  border-radius: 8px;
  ;
  background: #00000021 !important;
  border: 2px solid #222222;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.aiPoweredIndustries-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.card-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.card-image {
  object-fit: cover;
  margin-bottom: 20px;
  transition: opacity 0.3s ease;
}

.card-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: opacity 0.3s ease;
}

.aiPoweredIndustries-card:hover .card-details {
  opacity: 1;
}

.card:hover .card-image {
  opacity: 0;
}

.card-details h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.card-details p {
  font-size: 1.2rem;
  margin: 0;
}

.testimonial-wrapper {
  margin: 100px 0px;
}

.testimonial-heading {
  padding: 0px 90px;

}

.question-heaing p {
  padding: 15px 30px;
}

.question-heaing button {
  margin: 40px 0px;
}

.classNamehead:active .leadgensidebar p {
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 28px !important;
  padding-top: 20px;
}

.accordion-item .arrow:focus-within {
  background-color: var(--primary) !important;
}

.arrow {
  border: 1px solid #fff;
  padding: 4px 8px;
  min-height: 20px !important;
  background-color: var(--backgorund) !important;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.accordion-item:nth-child(1) {
  background: none !important;
  border: 2px solid var(--border) !important;
  border-radius: 10px;
}

.accordion-item:nth-child(2) {
  background: none !important;
}

.accordion-item:nth-child(3) {
  background: none !important;
}

.accordion-item:nth-child(4) {
  background: none !important;
}

.accordion-item:focus-within h3 {
  color: var(--primary) !important;
}

.accordion-item:nth-child(1)>.accordion-header .accordion-button {
  border-radius: 10px !important;
  padding: 15px !important;
}

.accordion-item:nth-child(2)>.accordion-header .accordion-button {
  border-radius: 10px !important;
  padding: 15px !important;
}

.accordion-item:nth-child(3)>.accordion-header .accordion-button {
  border-radius: 10px !important;
  padding: 15px !important;
}

.accordion-item:nth-child(4)>.accordion-header .accordion-button {
  border-radius: 10px !important;
  padding: 15px !important;
}

.accordion-button h3 {
  margin: 0px !important;
}

.accordion-body h5 {
  padding: 30px !important;
}

.leadSidebar {
  width: 73%;
  margin: 0 auto;
}

.leadSidebar .testimonial-card .testimonial-client {
  margin: 0px !important;
}

.leadSidebar .testimonial-card h5 {
  color: var(--primary) !important;
  line-height: 20px !important;
  font-weight: 600 !important;
}

.leadSidebar .testimonial-card {
  background-color: var(--background) !important;
}

.leadSidebar .swiper-slide {

  border: 1px solid var(--border) !important;
  border-radius: 15px !important;
}

.leadSidebar .swiper-slide-active .testimonial-card h5 {
  line-height: 30px !important;
  font-weight: bold !important;
}

.leadSidebar .swiper-slide-active .testimonial-card {
  padding: 60px 80px 60px 20px;
}

.leadSidebar .swiper-slide-active {
  border-radius: 15px !important;
  /* box-shadow: 0px 4px 76.7px 0px ; */
  box-shadow: #00BDFF40 0px 8px 24px;
  height: unset;
  width: 343px !important;
  border: 1px solid var(--primary) !important;
}

/* Time Line styling  */
.timeline-content{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px ;
  min-width: 90%;
}
.timeline-left{
 align-items: flex-start;
 max-width: 50%;
}
.timeline-right{
  max-width: 50%;
}
.number {
  position: relative;
  display: flex; /* Ensures centering */
  justify-content: center;
  align-items: center;
  width: 60px; /* Set equal width and height for a perfect circle */
  height: 52px;
  border-radius: 50%; /* Makes it fully rounded */
  background-image: linear-gradient(355.66deg, #9A0FDF -22.64%, #0F64DF 96.47%);
  color: white; /* Text color */
}

.number span {
  position: absolute;
  background: var(--accordian-body-color); 
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}
.number3 {
  position: relative;
  display: flex; /* Ensures centering */
  justify-content: center;
  align-items: center;
  width: 56px; /* Set equal width and height for a perfect circle */
  height: 50px;
  border-radius: 50%; /* Makes it fully rounded */
  background-image: linear-gradient(355.66deg, #9A0FDF -22.64%, #0F64DF 96.47%);
  color: white; /* Text color */
}

.number3 span {
  position: absolute;
  background: var(--accordian-body-color); 
width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}
.nav-link:hover{
  color: white;
}
.nav-link.active::before {
  background-color: #007bff;
}
.nav-link{
 background: #00000021;
 border: 2px solid var(--border);
 border-radius: 10px ;
  padding: 15px 20px ;
  font-size: 27px ;
  color: white;
  font-weight: 600;
  position: relative;
}
.nav-link::before {
  content: '';
  position: absolute;
  left: -40px; 
  top: 50%; 
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-color:rgba(0, 0, 0, 1);
  border: 2px solid rgba(38, 38, 38, 1);
  border-radius: 50%;
  z-index: 2;
}
.nav-link:not(:last-child)::after {
  content: '';
  position: absolute;
  left: -32px;
  top: calc(50% + 14px);
  bottom: -50%;
  width: 2px;
  background: repeating-linear-gradient(
    to bottom,
    rgba(52, 55, 59, 0.61),
    rgba(52, 55, 59, 0.61) 4px,
    transparent 4px,
    transparent 8px
  );
  
  z-index: 1;
}
.nav-link.active{
  background: linear-gradient(92.14deg, #00BDFF -16.62%, #8800FF 98.02%);
color: black;
}
.timeline-right-content p{
font-size: 17px !important;
line-height: 20px !important;
}

.tab-pane .timeline-right-content:nth-of-type(3) .number {
  width: 80px !important; /* Adjust the width for the third number */
}

.swiper-wrapper {
  padding: 50px 0px;
}

.Client-mainbox {
  padding: 90px 60px;
}

.clientbox {
  background-color: #12243D;
  padding: 20px;
  border-radius: 15px;
}

.client-heading h5 {
  font-size: 60px !important;
  font-weight: bold !important;
}

.client-heading p {
  font-size: 24px !important;
}
.timeline{
  padding: 100px 0px;
}

.clientcontent1 {
  width: 160px;
}

.client-custombox {
  width: 500px;
}

.clent-para1 {
  font-size: 19px !important;
  line-height: 28px;

}

.clent-para2 {
  font-size: 15px !important;
  line-height: 28px;
}

.pics-div {
  padding-bottom: 20px;
}

@media screen and (min-width: 1400px) {
  .banner-content {
    min-height: 100vh !important;
  }

  .aifuturecard .card3 {
    min-height: 10vh;
  }

  .img-card {
    padding: 15px 8px !important;
    width: 19% !important;
  }

  .leads-upper-content {
    width: 70%;
  }
  .tab-pane .timeline-right-content:nth-of-type(1) .number {
    width: 50px !important; /* Adjust the width for the third number */
  }
  .tab-pane .timeline-right-content:nth-of-type(2) .number {
    width: 50px !important; /* Adjust the width for the third number */
  }
  .tab-pane .timeline-right-content:nth-of-type(3) .number {
    width: 60px !important; /* Adjust the width for the third number */
  }

  .leadSidebar {
    width: 90%;
    margin: 0 auto;
  }

  .leadSidebar .testimonial-card h5 {
    line-height: 30px !important;
  }

  .leadSidebar .swiper-slide-active .testimonial-card h5 {
    line-height: 40px !important;

  }

  .leadSidebar .swiper-slide-active {
    height: unset;
    width: 343px !important;
    border: 1px solid var(--primary);
  }

}

@media screen and (max-width: 1399px) {
  .banner-second-heading h1 {
    font-size: calc(96px - 20px) !important;
    line-height: 80px !important;
  }
  .timeline-content{
    gap: 40px !important;
  }
  .timeline-right-content p{
font-size: 20px !important;
line-height: 30px !important;
  }

  .swiper-slide-prev,
  .swiper-slide-next {
    width: 24% !important;
  }

  .leadSidebar {
    width: 100% !important;
  }

  .swiper-wrapper {
    justify-content: center;
  }

  .banner-heading-top1 .h2 {
    font-size: 40px !important;
    line-height: 60px !important;
  }

  .banner-second-heading h6 {
    font-size: 24px !important;
  }

  .img-card {
    padding: 14px 8px;
    width: 22%;
  }
  .tab-pane .timeline-right-content:nth-of-type(1) .number {
    width: 70px !important; /* Adjust the width for the third number */
  }  .tab-pane .timeline-right-content:nth-of-type(2) .number {
    width: 75px !important; /* Adjust the width for the third number */
  }
  .tab-pane .timeline-right-content:nth-of-type(3) .number {
    width: 85px !important; /* Adjust the width for the third number */
  }

  .banner-second-heading {
    width: 70%;
  }

  .banner-logo img {
    max-width: calc(100% - 25%);
  }

  .aiPoweredIndustries-card2 {
    min-width: 48%;
  }

  .aiPoweredIndustries-content h2 {
    font-size: 3.2rem !important;
  }

  .banner-logo {
    margin-top: 40px;
  }

  .strugling-para2 {
    padding: 0px 200px !important;
    line-height: 30px !important;
    margin-bottom: 50px !important;
  }

  .aifuturecard .Salesaicards {
    min-height: 12vh !important;
    width: 29vw !important;
  }

  .card3-body h5 {
    font-size: 29px !important;
    line-height: 35px !important;
    font-weight: 600 !important;
  }

  .client-heading h5 {
    font-size: 48px !important;
    font-weight: bold !important;
  }

  .client-heading p {
    font-size: 20px !important;
  }

  .clientcontent1 {
    width: 160px;
  }

  .client-custombox {
    width: 440px;
  }

  .clent-para1 {
    font-size: 18px !important;
    line-height: 25px !important;

  }

  .clent-para2 {
    font-size: 14px !important;
    line-height: 22px !important;
  }

  .pics-div {
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 1200px) {
  .banner-second-heading h1 {
    font-size: 62px !important;
  }

  p {
    font-size: unset !important;
  }

  .banner-second-heading h6 {
    font-size: 18px !important;
    margin-bottom: 30px;
  }

  .strugling-lower-content .card4-body {
    width: 48% !important;
  }
  .timeline-content{
    gap: 50px ;
  }
  .tab-pane .timeline-right-content:nth-of-type(1) .number {
    width: 70px !important; /* Adjust the width for the third number */
  }
  .tab-pane .timeline-right-content:nth-of-type(2) .number {
    width: 75px !important; /* Adjust the width for the third number */
  }
  .tab-pane .timeline-right-content:nth-of-type(3) .number {
    width: 84px !important; /* Adjust the width for the third number */
  }
.nav-link{
  padding: 10px  !important;
  font-size: 23px;
}
  .card3-body h5 {
    font-size: 25px !important;
    line-height: 30px !important;
    font-weight: 600 !important;
  }

  .aiPoweredIndustries-content h2 {
    font-size: 2.8rem !important;
    line-height: 50px !important;
  }

  .youtube-video-video .youtube-video {
    width: 100% !important;
  }

  .leads-wrapper .leads-upper-content .banner-heading-top .h2 {
    font-size: 50px !important;
    line-height: 60px !important;
  }

  .leads-lower-content h5 {
    font-size: 20px !important;
    line-height: 26px !important;
  }

  .aiPoweredIndustries-card2 {
    min-width: 38%;
  }

  .leads-lower-content .card {
    width: 48%;
  }

  .strugling-content h2 {
    font-size: 40px !important;
  }

  .strugling-para2 {
    padding: 0px 180px !important;
  }

  .aifuturecard .card3 {
    min-height: 10vh !important;
    width: 30vw !important;
  }

  .leadSidebar {
    width: 90%;
    margin: 0 auto;
  }

  .leadSidebar .testimonial-card h5 {
    line-height: 20px !important;
  }

  .leadSidebar .swiper-slide-active .testimonial-card h5 {
    line-height: 30px !important;
  }

  .leadSidebar .testimonial-card {
    padding: 20px 40px 20px 20px;
  }

  .leadSidebar .swiper-slide-active .testimonial-card {
    padding: 40px 40px 40px 20px;
  }

  .leadSidebar .swiper-slide-active {
    height: unset;
    width: 313px !important;
    border: 1px solid var(--primary);
  }

  .Client-mainbox {
    padding: 20px 0px !important;
  }

  .client-heading h5 {
    font-size: 42px !important;
    font-weight: bold !important;
  }

  .client-heading p {
    font-size: 18px !important;
  }

  .client-custombox {
    width: auto !important;
  }

  .clent-para1 {
    font-size: 18px !important;
    line-height: 25px !important;

  }

  .clent-para2 {
    font-size: 14px !important;
    line-height: 22px !important;
  }

  .client-heading {
    padding: 20px;
  }

  .pics-div {
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 992px) {
  .strugling-content h2 {
    font-size: 30px !important;
  }

  .aiPoweredIndustries-card2 {
    min-width: 50%;
    min-height: 300px;
  }

  .strugling-para2 {
    padding: 0px 60px !important;
  }

  .aifuturecard .Salesaicards {
    width: 31vw !important;
    padding: 0px 0px 0px 0px !important;
  }

  .aifuturecard .card3 h5 {
    font-size: 20px !important;
    line-height: 30px !important;
  }
  .timeline-content{
    gap: 30px ;
  }
.nav-link{
  /* padding: 10px  !important; */
  font-size: 18px;
}
.tab-pane .timeline-right-content:nth-of-type(1) .number {
  width: 85px !important; /* Adjust the width for the third number */
}
.tab-pane .timeline-right-content:nth-of-type(1) .number span {
 font-size: 16px !important;
}
.tab-pane .timeline-right-content:nth-of-type(2) .number {
  width: 85px !important; /* Adjust the width for the third number */
}
.tab-pane .timeline-right-content:nth-of-type(2) .number span {
  font-size: 16px !important;
 }
.tab-pane .timeline-right-content:nth-of-type(3) .number {
  width: 100px !important; /* Adjust the width for the third number */
}
.tab-pane .timeline-right-content:nth-of-type(3) .number span {
  font-size: 16px !important;
 }
.timeline-content{
  gap: 30px  !important;
}
.timeline-right-content{
  margin-bottom: 10px !important;
}
.timeline-right-content h6{
font-size: 20px  !important;
}
.timeline-right-content p{
  font-size: 14px  !important;
  }
.future-wrapper{
  margin: 50px 0px !important;
}

  .card4-body p {
    font-size: 17px !important;
  }

  .aiPoweredIndustries-content h2 {
    width: 100%;
    margin-bottom: 20px !important;
    font-size: 2rem !important;
    line-height: 45px !important;
  }

  .aiPoweredIndustries-content p {
    width: 100%;
    margin-bottom: 20px !important;
  }

  .leadSidebar {
    width: 100%;
    margin: 0 auto;
  }

  .leadSidebar .testimonial-card h5 {
    line-height: 20px !important;
  }

  .leadSidebar .swiper-slide-active .testimonial-card h5 {
    line-height: 30px !important;
  }

  .leadSidebar .testimonial-card {
    padding: 20px 40px 20px 20px;
  }

  .leadSidebar .swiper-slide-active .testimonial-card {
    padding: 40px 40px 52px 20px;
  }

  .swiper-slide {
    width: 150px !important;
  }

  .leadSidebar .swiper-slide-active {
    height: 240px !important;
    width: 280px !important;
  }

  .testimonial-heading {
    padding: 20 !important;
  }
  .aiPoweredIndustries-card{
    min-width: 300px;
  }
}

@media screen and (max-width: 767px) {
  .banner-heading-top {
    width: 70% !important;
  }

  .banner-logo img {
    max-width: 90% !important;
    padding-bottom: 10px;
  }

  .banner-second-heading {
    width: 100% !important;
  }

  .aiPoweredIndustries-card2 {
    min-width: 68%;
    min-height: 300px;
  }

  .aiPoweredIndustries-content h2 {
    width: 100%;
    font-size: 2.1rem !important;
    line-height: 40px !important;
  }
  .tab-pane .timeline-right-content:nth-of-type(1) .number {
    width: 52px !important; /* Adjust the width for the third number */
  }
  .tab-pane .timeline-right-content:nth-of-type(2) .number {
    width: 55px !important; /* Adjust the width for the third number */
  }
  .tab-pane .timeline-right-content:nth-of-type(3) .number {
    width: 65px !important; /* Adjust the width for the third number */
  }
  .timeline-right-content h6{
    margin: 0px !important;
  }
  .aiPoweredIndustries-content p {
    width: 100%;

  }
  .timeline-content{
    flex-direction: column !important;
  }
  .timeline-left{
    max-width: 100% !important;
  }
  .timeline-right{
    max-width: 100% !important;
  }

  h2 {
    font-size: 36px !important;
    line-height: 44px !important;
  }

  .img-card {
    padding: 15px 8px;
  }

  .strugling-content h2 {
    font-size: 25px !important;
  }

  .strugling-para2 {
    padding: 0px 0px !important;
  }

  .aifuturecard {
    gap: 10px;
  }

  .aifuturecard .card3 {
    width: 48% !important;
  }

  .card4-body>h6 {
    font-size: 20px !important
  }

  .strugling-lower-content .card4-body {
    width: 47% !important;
    height: 230px !important;
  }

  .strugling-lower-content {
    justify-content: center !important;
  }

  .card4-body h6 {
    font-size: 21px !important;
    line-height: 30px !important;
  }

  .card4-body p {
    font-size: 14px !important;
    line-height: 25px !important;
  }

  .img-card {
    padding: 14px 8px;
    width: 28% !important;
  }


  .testimonial-h2 {
    font-size: 26px !important;
  }

  .leadSidebar {
    width: 100%;
    margin: 0 auto;
  }

  .testimonial-heading {
    padding: 0 !important;
  }
  .aiPoweredIndustries-card{
    min-width: 250px;
  }

  .leadSidebar .testimonial-card h5 {
    line-height: 18px !important;
  }

  .leadSidebar .swiper-slide-active .testimonial-card h5 {
    line-height: 25px !important;
  }

  .leadSidebar .testimonial-card {
    padding: 20px 40px 20px 20px;
  }

  .leadSidebar .swiper-slide-active .testimonial-card {
    padding: 30px 40px 30px 15px !important;
  }

  .swiper-slide {
    width: 160px !important;
  }

  .leadSidebar .swiper-slide-active {
    height: 220px !important;
    width: 280px !important;
  }

  .client-heading h5 {
    text-align: center;
    font-size: 32px !important;
    font-weight: bold !important;
  }

  .client-heading p {
    text-align: center;
    font-size: 18px !important;
  }
}

@media screen and (max-width: 576px) {
  .banner-logo img {
    max-width: 80% !important;
  }
  .timeline-right {
    max-width: 80% !important;
}

  .aifuturecard .card3 {
    min-width: 100% !important;
  }

  .aifuturecard .card3 h5 {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  .banner-second-heading h1 {
    font-size: 54px !important;
    line-height: 60px !important;
  }

  .aiPoweredIndustries-content h2 {
    width: 100%;
    font-size: 19px !important;
    line-height: 35px !important;
    margin-bottom: 18px !important;
  }

  .aiPoweredIndustries-content p {
    margin-bottom: 10px !important;
  }

  p {
    line-height: 1.7rem !important;
  }

  .container {
    padding: 0px 30px !important;
  }

  .banner-second-heading .btn-2 {
    font-size: 17px !important;
  }

  .aiPoweredIndustries-card h3 { 
    font-size: 18px !important;
    text-align: center;
  }
  .aiPoweredIndustries-card .card-image {
    max-width: 30% !important;
  }

  .aiPoweredIndustries-card {
    min-width: 40% !important;

  }

  .aiPoweredIndustries-card {
    min-height: 180px;
  }

  .card-details {
    width: 100% !important;
  }

  .card-details p {
    font-size: 12px !important;
    line-height: 18px !important;
  }

  .aiPoweredIndustries-card2 {
    width: 20% !important;
    min-height: 180px !important;
  }

  .leads-lower-content .card {
    width: 100% !important;
  }

  .strugling-content h2 {
    font-size: 20px !important;
  }

  .img-card {
    padding: 14px 8px;
    width: 19% !important;
  }

  .youtube-video-video {
    margin: 10px 0px !important;
  }

  .banner-content {
    min-height: 70vh !important;
  }

  .banner-logo {
    margin: 0px !important;
  }

  .banner-second-heading p {
    margin-bottom: 30px !important;
  }

  .leads-wrapper {
    margin: 45px 0px !important;
  }

  .leads-upper-content h2 {
    padding: 20px 0px !important;
    font-size: 21px !important;
    line-height: 35px !important;
  }

  .leads-lower-content {
    margin-top: 10px !important;
  }

  .strugling-lower-content .card4-body {
    width: auto !important;
    height: auto !important;
  }

  .future-wrapper {
    margin: 50px 0px !important;
  }
}