.backcolor {
    background: linear-gradient(15deg, rgba(10, 32, 31, 1) 0%, rgba(10, 17, 26, 1) 47%, rgba(10, 32, 31, 1) 100%);
}

.blogtext {
    font-size: 34px;
    font-family: var(--font-outfit);
    color: var(--secondary)
}

.blogtext img {
    width: 40px;
    height: 90px;
}

@media (min-width: 992px) {
    .backcolor {
        padding: 80px 0px;
    }
}