/* Font Google  */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Play:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #4caf50;
  --whitecolor: #FFFFFF;
  --secondary: #00bdff;
  --text: #9c9d9f;
  --accent: #000000;
  --backgorund: #0a0e17;
  /* global font-family */
  --font-roboto: "Roboto", sans-serif;
  --font-play: "Play", sans-serif;
  --font-outfit: "Outfit", sans-serif;
}

.skyblue {
  color: var(--secondary);
}
.textcolor {
  color: var(--text);
}
.lgblock{
  display:none;
}

.btn-1 {
  color: var(--backgorund);
  border-radius: 5px;
  font-size: 18px;
  text-decoration: none;
  background-color: var(--secondary);
  padding: 8px 19px;
  border: 1px solid var(--secondary);
  font-family: var(--font-play);
  transition: 0.5s all;
}

.btn-1:hover {
  background-color: var(--backgorund);
  color: var(--secondary);
  border: 1px solid var(--secondary);
  transition: 0.5s all;
}

.btn-2{
  color: var(--secondary);;
  font-size: 18px;
  text-decoration: none;
  padding: 8px 19px;
  border:1px solid  var(--secondary);
  border-radius: 5px ;
  background-color: #09364D;
  font-family: var(--font-play);
  transition: 0.5s all;

}
.btn-2:hover{
  box-shadow: -1px 0px 12px -1px rgba(0,189,255,0.72);
  }
  
/* Typo */

.customh1 {
  font-family: var(--font-play) ;
  line-height: 2.6rem ;
  font-size: 44px ;
  font-weight:600 ;
  color: var(--whitecolor) ;
}

.customh2 {
  color: var(--secondary) ;
  font-family: var(--font-play);
  line-height: 1.6rem;
  font-weight:600 ;
  font-size: 20px;
}

.customh3 {
  font-family: var(--font-outfit);
  font-size: 32px;
  line-height: 1.6rem;
}

.customh4 {
  font-family: var(--font-outfit);
  font-size: 26px;
  line-height: 1.6rem;
}

.customh5 {
  font-family: var(--font-outfit);
  font-size: 22px;
  line-height: 1.6rem;
}

.customh6 {
  font-family: var(--font-outfit);
  font-size: 10px;
  line-height: 1.6rem;
}

p {
  color: var(--text);
  font-size: 16px;
  font-family: var(--font-outfit);
}