@import url('../../app/Global.css');
.footer-main {
    background-color: #0A0E17;
    color: #9C9D9F;
    border-color: var(--secondary) !important;
}
.footer-title{
    font-weight:500;
}
.footerul{
    color: #9C9D9F;
    font-weight:500;
    text-decoration: none !important;
}
.footer-social-icon{
    max-width: 10%;
}
.footer-input {
    background-color: #0A0E17;
    color: #9C9D9F;
    border: 0.5px solid #9C9D9F;
    border-radius: 5px ;
    width: 415px !important;
    height:50px;
    outline: none;
    box-shadow: none;
    padding-left:10px;
}
.footer-input:focus,
.footer-input:active {
    outline: none;
    box-shadow: none;
}
.input-group{
    position:relative;
}
.box2{
    position:absolute;
    right:135px;
    top:3px;
    font-size:18px;
    text-decoration:none;
    background-color: #00BDFF;
    color: #0A0E17;
    padding:8px 19px;
    border-radius:10px;
}
.box2:hover{
    background-color: #0A0E17;
    color: #00BDFF;
    border:1px solid #00BDFF;
    transition: 0.5s all;
}
@media (max-width: 575.98px) { 
    .box2{
        right:5px;
    }
    .footer-logo-div{
        text-align: center !important;
    }
}
@media (min-width: 576px ) and (max-width: 991.98px) { 
    .box2{
        right:287px;
    }
 }