.banner-content {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.primary {
  color: red;
}
.banner-logo img {
  width: 250px;
  padding-bottom: 37px;
}

.banner-heading-top {
  position: relative;
  background: #6e6e6e26;
  border-radius: 50px;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 25px;
  width: 35%;
  text-align: center;
}

.banner-heading-top p {
  padding: 10px 10px;
  font-size: 18px;
  color: rgb(173, 173, 173);
  border-radius: 50px;
}

.banner-heading-top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(91.66deg, #00bdff -2.97%, #2a378f 103.23%);
  border-radius: 50px;
  padding: 1px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}
.banner-second-heading h1 {
  color: white;
  font-weight: 500 !important;
  line-height: 100px !important;
  font-size: 96px !important;
  margin-bottom: 20px;
}
.banner-second-heading {
  width: 80%;
}
.banner-second-heading h1 span {
  color: transparent; /* Makes the text transparent */
  background: linear-gradient(258deg, #8800ff 27.99%, #00bdff 57.37%);
  background-clip: text;
}
.banner-second-heading p {
  font-size: 19px;
  line-height: 25px;
  margin-bottom: 50px !important;
}
.banner-second-heading .btn-2 {
  font-size: 24px !important;
  padding: 12px 50px !important;
}
.banner-second-heading h6 {
  font-size: 32px !important;
  margin-bottom: 50px;
}
@media screen and (max-width: 1399px) {
}
@media screen and (max-width: 1200px) {
  .banner-second-heading h1 {
    font-size: 90px !important;
  }
  p {
    font-size: unset !important;
  }
  .banner-second-heading h6 {
    font-size: 27px !important;
  }
}
