.banenr-wrapper {
    padding-top: 50px;
  }
  .primary{
    color: red;
  }
  .banner-logo img {
    width: 250px;
    padding-bottom: 55px;
  }
  
  .banner-heading-top {
    position: relative;
    background: #6e6e6e4f;
    width: fit-content;
    border-radius: 50px;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 25px;
  }
  
  .banner-heading-top p {
    padding: 15px 110px;
    font-size: 24px;
    color: rgb(173, 173, 173);
    border-radius: 50px;
  }
  
  .banner-heading-top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Places gradient behind content */
    background: linear-gradient(91.66deg, #00BDFF -2.97%, #2A378F 103.23%);
    border-radius: 50px;
    padding: 2px; /* Adjust for border thickness */
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    mask-composite: exclude; /* Cuts out the middle */
    -webkit-mask-composite: destination-out;
  }
  .banner-second-heading h1{
    color: white;
    font-size: 6rem !important;
    letter-spacing: 4px;
    font-weight: 500;
  }
  .banner-second-heading span{
  color: transparent; /* Makes the text transparent */
  background: linear-gradient(258deg, #8800FF 27.99%, #00BDFF 57.37%);
  -webkit-background-clip: text; /* Applies the gradient to the text only */
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  }