.mySwiper {
    padding: 70px 0px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background: var(--accordian-body-color);
    border: 2px solid var(--border);
    border-radius: 15px;
    padding: 20px;
    width: 60%;
}

.swiper-slide-active {
    box-shadow: #00BDFF40 0px 8px 24px;
    border: 1px solid var(--primary) !important;
}

.slider2-main-body h5 {
    font-size: 32px !important;
    color: var(--primary) !important;
}

.slider2-main-body p {
    line-height: 24px !important;
}

.swiper-slide-active p {
    line-height: 34px !important;
}


/* @media screen and (max-width: 1200px) {
    .slider-main-body h5 {
        font-size: 27px !important;
        line-height: 32px !important;
    }
    
    .swiper-slide-active h5 {
        line-height: 42px !important;
    }

    .swiper-slide-active {
        padding: 30px 20px !important;
    }
}

@media screen and (max-width: 992px) {
    .swiper-slide{
        width: 20% !important;
    }
    .swiper-slide-active {
        width: 40% !important;
        padding: 30px 20px !important;
    }
    .slider-main-body h5 {
        font-size: 16px !important;
        line-height: 32px !important;
    }
    
    .swiper-slide-active h5 {
        font-size: 27px !important;
        line-height: 42px !important;
    }

} */
/* @media screen and (max-width: 768px) {
    .swiper-slide{
        width: 20% !important;
        padding: 10px 10px !important;
    }
    .swiper-slide-active {
        width: 100% !important;
        padding: 30px 20px !important;
    }
    .slider-main-body h5 {
        font-size: 12px !important;
        line-height: 22px !important;
    }
    .slider-main-body p {
        font-size: 10px !important;
        line-height: 20px !important;
    }
    
    .swiper-slide-active h5 {
        font-size: 27px !important;
        line-height: 42px !important;
    }
    .swiper-slide-active p{
        font-size: 18px !important;
        line-height: 36px !important;
    }
    
}
@media screen and (max-width: 576px) {

    .swiper-slide{
        width: 50% !important;
        padding: 10px 10px !important;
    }
    .swiper-slide-active {
        width: 50% !important;
        padding: 30px 20px !important;
    }
    .swiper-slide-active h5 {
        font-size: 24px !important;
        line-height: 42px !important;
    }
    .swiper-slide-active p{
        line-height: 32px !important;
    }
    } */